.Login {
	text-align: center;
}

.Box {
    display:block   ;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
    height: 500px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
  }

.Login select {
    width: 40%;    
    margin-bottom: 1%;
    margin-left: 30%;
    box-sizing: border-box;
    text-align: center;
    display: block;
}

.Login div {
    text-align: center;
    margin-bottom: 1%;

}

.Login label,.Login input{
    width: 40%;    
    margin-bottom: 1%;
    margin-left: 30%;
    box-sizing: border-box;
    text-align: center;
    display: block;

}

.Login button{
    width: 40%;    
    margin-bottom: 1%;
    margin-left: 30%;
    box-sizing: border-box;
    text-align: center;
    display: block;

}

.Alert{
    width: 40%;    
    margin-bottom: 1%;
    margin-left: 30%;
    box-sizing: border-box;
    text-align: center;
    display: block;
    text-align: center
}


.Login {
	text-align: center;
}
.login{
    width:45%;
    border: 2px solid rgb(164, 193, 222);
    border-radius: 15px;
    margin-left: 27.5%;
    padding:20px;
}
.Login label,.Login input{
    font-size: 15px;
    margin-bottom: 10px;
}
.head{
    font-weight: 900;
    margin-bottom: 30px;
}
.Login p{
    font-size: 13px;
}