html,body,#root{
  margin:0;
  padding: 0;
  height: 100%;
  text-align: center;
}

.vacationList{
  padding: 30px;

}

.Buttons{
  text-align: left;
  padding-bottom: 2px;
  margin-bottom: 5px;
}
.displayCard {
text-align: center;
}
.card {
/* max-width: 50%; */
display: inline-block;
border: none;
}
.card-container{
  
float:left;
font-size: 15px;
margin: 20px;
width: 300px;
height: 400px;
overflow: hidden;
box-shadow: 0px 0px 15px -5px;
transition: 0.5s;
animation: ease-in-out;
}
.card-container:hover {
transform: scale(1.1);
box-shadow: 0px 0px 15px 0px;
}
.card-container  img {
  overflow: hidden;
  height: 200px;
  width: 100%;
}
.dest{
  font-weight: 600;
}
.fixed-bottom{
  text-align: center;
  position: fixed;
  bottom: 1px;
  left:0px;
  background-color: white;
  margin:auto;
  box-shadow: 0px 0px 5px;
  border-radius: 5px;

  /* margin-left: auto; 
  margin-right: auto; */
}

@media screen and (max-width: 830px) {
.card {
  padding: 1%;
  display: inline-block;
}
}

.btn:hover{
box-shadow: 0px 0px 15px 0px;

}

.Buttons{
margin-bottom:20px;
margin-top: -10px;
}