.Register {
	text-align: center;
}
.register{
    width:45%;
    border: 2px solid rgb(164, 193, 222);
    border-radius: 15px;
    margin-left: 27.5%;
    padding:20px;
}
.Register label,.Register input{
    font-size: 15px;
    margin-bottom: 10px;
}
.head{
    font-weight: 900;
    margin-bottom: 30px;
}